.header {
    background-color: #d595e4; /* Green background */
    color: white; /* White text */
    padding: 15px; /* Some padding */
    text-align: center; /* Centered text */
    font-size: 24px; /* Larger font size */
}

.footer {
    background-color: #000000; /* Green background */
    color: white; /* White text */
    padding: 10px; /* Some padding */
    text-align: center; /* Centered text */
    font-size: 14px; /* Smaller font size */
}

nav {
      margin-top: 15px;
    }

    nav ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 0;
    }

@media screen and (max-width: 600px) {
    .header {
        font-size: 20px;
        padding: 10px 15px;
    }

    .footer {
        font-size: 12px;
        padding: 8px 15px;
    }
}